@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

:root {
  --primary-bg: #1a171565;
  --link-color-primary: #1d201f;
  --secondary-bg: #e1efe6;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #575d5ca4;
  --custom-gradient: linear-gradient(323deg, rgba(71, 73, 73, 0.75) 0%, rgba(255,255,255,.75) 100%);
}



html, .App, * {
  box-sizing: border-box;
  width: 100%;
  
}
.App{
  color:black;
  background-image: url('../assets/mbs.webp');
  background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed;
}

form{
  background-color: var(--custom-gradient);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 85%;
}

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
} 

.feed{
  max-width: 60%;
  text-align: center;
  opacity: 85%;
  fill-opacity: var(--custom-gradient);
  height: 100%;
  margin: 0 auto;
}

.details{
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  background: var(--custom-gradient);
}
.profile{
  margin: 0 auto;
}
.settings{
  display: flex;
  justify-content: center;
}

.card{
 opacity: 85%; 
}
.search{
  border: 2px solid black;
}
.search h2{
  text-align: center;
  color: white;
}
.img-thumbnail{
  border-radius: 50%;;
}

.glow{
  font-size: 20px;
  color: rgb(18, 17, 17);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e6ad00, 0 0 40px #e6ad00, 0 0 50px #e6ad00, 0 0 60px #e6ad00, 0 0 70px #e6ad00;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #29b03d, 0 0 40px #29b03d, 0 0 50px  #29b03d, 0 0 60px #29b03d, 0 0 70px #29b03d, 0 0 80px #29b03d;
  }
}
.home-logo{
  max-width: 25em;
  opacity: 80%;
  border-radius: 10px;
}