@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');


:root {
  --primary-bg: #1a171565;
  --link-color-primary: #1d201f;
  --secondary-bg: #e1efe6;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #3c7d79;
  --custom-gradient: linear-gradient(323deg, rgb(104 193 197 / 75%) 0%, rgba(255,255,255,.75) 100%);
  /* --custom-background-image: url('../assets/'); */
}

button {
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.8em 1.2em;
  font-size: 1.1rem;
} 
button:hover {
  background: var(--primary-button-hover);
}

button,
input {
  border-radius: 8px;
}

.logo-wrapper div{
  height: 1.5em;
}

header, footer {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

nav {
  margin-right: 1em;
  display: flex;
}