@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

:root {
  --primary-bg: #1a171565;
  --link-color-primary: #1d201f;
  --secondary-bg: #e1efe6;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #575d5ca4;
  --custom-gradient: linear-gradient(323deg, rgba(71, 73, 73, 0.75) 0%, rgba(255,255,255,.75) 100%);
  /* --custom-background-image: url('../assets/');  */
}



html, .App, * {
  box-sizing: border-box;
  width: 100%;
  
}

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
} 

.feed{
  text-align: center;
  border-right: 120px solid black;
  border-left: 120px solid black;
  background-image: url('../assets/greener_1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.details{
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  background: var(--custom-gradient);
}

